<html>
  <h1>Patient Models View</h1>
    <body>
        {% for patient in patients %}
          <ul>
              <li>{{patient.last_name}}</li>
              <li>{{patient.first_name}}</li>
              {% if patient.phone_number < 9 %}
                Please put in full phone number
              {% endif %}

              <li>{{patient.phone_type}}</li>
              <li>{{patient.street1}}</li>
              <li>{{patient.street2}}</li>
              <li>{{patient.city}}</li>
              <li>{{patient.state}}</li>
              <li>{{patient.zip_zip}}</li>
              <li>{{patient.second_number}}</li>
              <li>{{patient.second_type}}</li>
              <li>{{patient.email}}</li>
              <li>{{patient.insurance}}</li>
          </ul>
        {% endfor %}
      </body>
</html>
